.dashboardBtn.MuiButton-root {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
/*BookingPage */
.bookingpage-time-list::-webkit-scrollbar {
  width: 8px;
}
.bookingpage-time-list::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.bookingpage-time-list::-webkit-scrollbar-thumb {
  background-color: #6d3874;
}
.bookingpage-time-list::-webkit-scrollbar-thumb:hover {
  background-color: #652f6c;
}

.bookingpage-time-list { /* For when webkit-scrollbar doesn't work */
scrollbar-width: thick;
scrollbar-color: #6d3874 #f0f0f0;
}

.bookingpage-time-list .bookingpage-time-list-item-btn:hover {
    background-color: #E0D4FD;
}

.bookingpage-time-list .bookingpage-time-list-item-btn.Mui-selected {
  background-color: #E0D4FD;
  color: #6d3874;

}

.bookingpage-time-list .bookingpage-time-list-item-btn.Mui-selected:hover {
  background-color: #C2B8DB;
}

/* Reference Page */

.referencepage-check-status-btn:hover {
    background-color: #502555
}


